### Python Example

1+1

print(1+1)

In [1]:
1+1

2

In [2]:
print("Hello world")

Hello world

In [3]:
name = "Jasper"
surname = "Bongers"
print(name + " " + surname)

Jasper Bongers

In [4]:
age=32
if age > 30:
    print("You are older than 30")

You are older than 30

In [6]:
# Use a backslash to continue a statement on the next line 
total = 1 + 2 + 3 + 4 + 5 + 6 + 7 \
    + 8 + 9 + 10
print(total)

55

In [7]:
# Multiple statements on one line
x = 5
y = 10
z = x + y
print(z)

15

In [8]:
# Understand the semantics in Python
age = 32 ## age is an integer
name = 'Bongers' ## name is a string
print(age)  # Output: 32
print(name)  # Output: Bongers
print('My name is', name, 'and I am', age, 'years old.')

32
Bongers
My name is Bongers and I am 32 years old.

In [9]:
type(name)

str

In [10]:
var = 10
type(var)
var = 'Jasper'
type(var)

str

In [1]:
# Declaring and assigning Variables

age = 32
height = 6.1
name = 'Jasper'
is_adult = True
is_married = True

# printing the variables
print("age: ", age)
print("height: ", height)
print("name: ", name)
print("is an adult?: ", is_adult)
print("is married?: ", is_married)

age:  32
height:  6.1
name:  Jasper
is an adult?:  True
is married?:  True

In [2]:
# Naming conventions
# Variable names should be descriptive
# Variable names should be in lowercase
# Variable names should be short
# Variable names should be meaningful
# Variable names should not start with a number; they can start with a letter or a underscore
# Variable names should not contain special characters
# Variable names should not contain spaces
# Variable names should not be a keyword
# Variable names should not be a built-in function name
# Variable names should not be a class name
# Variable names should not be a function name
# Variable names should not be a module name
# Variable names should not be a package name
# Variable names should not be a constant

In [6]:
# Variable names are case-sensitive
name = "Jasper"
Name = "Bongers"
print(name)
print(Name)
print(name == Name)
# Output: Jasper
# Output: Bongers
# Variables can be reassigned
name = "Jasper"
print(name)
name = "Bongers"
print(name)

Jasper
Bongers
False
Jasper
Bongers

In [7]:
# Important to understand variable types
age = 32
height = 6.1
name = 'Jasper'
is_adult = True
is_married = True
print(type(age))
print(type(height))
print(type(name))
print(type(is_adult))
print(type(is_married))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [ ]:
# Type checking and type conversion

#Type checking
age = 25
print(type(age))

# Type conversion
age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [10]:
age = "25"
print(type(age))
str_age = int(age)
print(type(str_age))

<class 'str'>
<class 'int'>

In [11]:
name = "Jasper"
print(type(name))
int_name = int(name)
print(type(int_name))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Jasper'

In [13]:
height = 7.0
type(height)
print(int(height))

7

In [15]:
# Dynamic Typing
# Python allows the type of the variable to change during the execution of the program
var = 10
print(var,type(var))
var = "Hello"
print(var,type(var))
var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [16]:
## input
name = input("What is your name? ")
print("Hello", name)
print(type(name))
# output
# What is your name? Jasper
# Hello Jasper

Hello Jasper
<class 'str'>

In [19]:
# Input

age = input("What is your age?")
print("Hello", age)
print(type(age))

Hello 5
<class 'str'>

In [20]:
## Integer Example
age = 35
print(type(age))
print(age)

<class 'int'>
35

In [21]:
## Example floating point data type
height = 7.5
print(height)
print(type(height))

7.5
<class 'float'>

In [22]:
## Example dayatype string

name = "Jasper"
print(name)
print(type(name))

Jasper
<class 'str'>

In [23]:
# Example boolean data type
is_adult = True
print(is_adult)
print(type(is_adult))

True
<class 'bool'>

In [24]:
is_true = bool()
print(type(is_true))

<class 'bool'>

In [25]:
a = 10
b = 20
print(a==b)

False

In [28]:
a = 10
b = 5
print("a = ", a)
print("b = ", b)

add_result = a + b
sub_result = a - b
mul_result = a * b
div_result = a / b
floor_div_result = a // b
modulus_result = a % b
print("a + b = ", add_result)
print("a - b = ", sub_result)
print("a * b = ", mul_result)
print("a / b = ", div_result)
print("a // b = ", floor_div_result)
print("a % b = ", modulus_result)

a =  10
b =  5
a + b =  15
a - b =  5
a * b =  50
a / b =  2.0
a // b =  2
a % b =  0

In [29]:
# Comparison Operators
# ==
a = 10
b = 10
a==b

True

In [30]:
str1 = "Hello"
str2 = "Hello"
str1 == str2
# Output: True

True

In [33]:
str1!=str2

False

In [35]:
# Comparison Operators
# greater than
# >

num1 = 41
num2 = 31
num1 > num2

True

In [37]:
# Comparison Operators
# lower than
# <

num1 = 51
num2 = 61
num1 < num2

True

In [38]:
# Comparison Operators
# greater than or equal to 
# >=

number1 = 45
number2 = 45
number1 >= number2

True

In [39]:
# Comparison Operators
# lower than or equal to 
# <=

number1 = 45
number2 = 45
number1 <= number2

True

In [41]:
## Logical operators
# and
# or    
# not

y = True
x = True
result = y and x
print(result)

True

In [ ]:
## Logical operators
# and
# or    
# not

y = True
x = True
result = y and x
print(result)