### Python Example

1+1

print(1+1)

In [1]:
1+1

2

In [2]:
print("Hello world")

Hello world

In [3]:
name = "Jasper"
surname = "Bongers"
print(name + " " + surname)

Jasper Bongers

In [4]:
age=32
if age > 30:
    print("You are older than 30")

You are older than 30

In [6]:
# Use a backslash to continue a statement on the next line 
total = 1 + 2 + 3 + 4 + 5 + 6 + 7 \
    + 8 + 9 + 10
print(total)

55

In [7]:
# Multiple statements on one line
x = 5
y = 10
z = x + y
print(z)

15

In [8]:
# Understand the semantics in Python
age = 32 ## age is an integer
name = 'Bongers' ## name is a string
print(age)  # Output: 32
print(name)  # Output: Bongers
print('My name is', name, 'and I am', age, 'years old.')

32
Bongers
My name is Bongers and I am 32 years old.

In [9]:
type(name)

str

In [10]:
var = 10
type(var)
var = 'Jasper'
type(var)

str