### Python Example

1+1

print(1+1)

In [215]:
1+1

2

In [216]:
print("Hello world")

Hello world

In [217]:
name = "Jasper"
surname = "Bongers"
print(name + " " + surname)

Jasper Bongers

In [218]:
age=32
if age > 30:
    print("You are older than 30")

You are older than 30

In [219]:
# Use a backslash to continue a statement on the next line 
total = 1 + 2 + 3 + 4 + 5 + 6 + 7 \
    + 8 + 9 + 10
print(total)

55

In [220]:
# Multiple statements on one line
x = 5
y = 10
z = x + y
print(z)

15

In [221]:
# Understand the semantics in Python
age = 32 ## age is an integer
name = 'Bongers' ## name is a string
print(age)  # Output: 32
print(name)  # Output: Bongers
print('My name is', name, 'and I am', age, 'years old.')

32
Bongers
My name is Bongers and I am 32 years old.

In [222]:
type(name)

str

In [223]:
var = 10
type(var)
var = 'Jasper'
type(var)

str

In [224]:
# Declaring and assigning Variables

age = 32
height = 6.1
name = 'Jasper'
is_adult = True
is_married = True

# printing the variables
print("age: ", age)
print("height: ", height)
print("name: ", name)
print("is an adult?: ", is_adult)
print("is married?: ", is_married)

age:  32
height:  6.1
name:  Jasper
is an adult?:  True
is married?:  True

In [225]:
# Naming conventions
# Variable names should be descriptive
# Variable names should be in lowercase
# Variable names should be short
# Variable names should be meaningful
# Variable names should not start with a number; they can start with a letter or a underscore
# Variable names should not contain special characters
# Variable names should not contain spaces
# Variable names should not be a keyword
# Variable names should not be a built-in function name
# Variable names should not be a class name
# Variable names should not be a function name
# Variable names should not be a module name
# Variable names should not be a package name
# Variable names should not be a constant

In [226]:
# Variable names are case-sensitive
name = "Jasper"
Name = "Bongers"
print(name)
print(Name)
print(name == Name)
# Output: Jasper
# Output: Bongers
# Variables can be reassigned
name = "Jasper"
print(name)
name = "Bongers"
print(name)

Jasper
Bongers
False
Jasper
Bongers

In [227]:
# Important to understand variable types
age = 32
height = 6.1
name = 'Jasper'
is_adult = True
is_married = True
print(type(age))
print(type(height))
print(type(name))
print(type(is_adult))
print(type(is_married))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [228]:
# Type checking and type conversion

#Type checking
age = 25
print(type(age))

# Type conversion
age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [229]:
age = "25"
print(type(age))
str_age = int(age)
print(type(str_age))

<class 'str'>
<class 'int'>

In [230]:
name = "Jasper"
print(type(name))
int_name = int(name)
print(type(int_name))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Jasper'

In [ ]:
height = 7.0
type(height)
print(int(height))

7

In [ ]:
# Dynamic Typing
# Python allows the type of the variable to change during the execution of the program
var = 10
print(var,type(var))
var = "Hello"
print(var,type(var))
var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## input
name = input("What is your name? ")
print("Hello", name)
print(type(name))
# output
# What is your name? Jasper
# Hello Jasper

Hello Jasper
<class 'str'>

In [ ]:
# Input

age = input("What is your age?")
print("Hello", age)
print(type(age))

Hello 5
<class 'str'>

In [ ]:
## Integer Example
age = 35
print(type(age))
print(age)

<class 'int'>
35

In [ ]:
## Example floating point data type
height = 7.5
print(height)
print(type(height))

7.5
<class 'float'>

In [ ]:
## Example dayatype string

name = "Jasper"
print(name)
print(type(name))

Jasper
<class 'str'>

In [ ]:
# Example boolean data type
is_adult = True
print(is_adult)
print(type(is_adult))

True
<class 'bool'>

In [ ]:
is_true = bool()
print(type(is_true))

<class 'bool'>

In [ ]:
a = 10
b = 20
print(a==b)

False

In [ ]:
a = 10
b = 5
print("a = ", a)
print("b = ", b)

add_result = a + b
sub_result = a - b
mul_result = a * b
div_result = a / b
floor_div_result = a // b
modulus_result = a % b
print("a + b = ", add_result)
print("a - b = ", sub_result)
print("a * b = ", mul_result)
print("a / b = ", div_result)
print("a // b = ", floor_div_result)
print("a % b = ", modulus_result)

a =  10
b =  5
a + b =  15
a - b =  5
a * b =  50
a / b =  2.0
a // b =  2
a % b =  0

In [ ]:
# Comparison Operators
# ==
a = 10
b = 10
a==b

True

In [ ]:
str1 = "Hello"
str2 = "Hello"
str1 == str2
# Output: True

True

In [ ]:
str1!=str2

False

In [ ]:
# Comparison Operators
# greater than
# >

num1 = 41
num2 = 31
num1 > num2

True

In [ ]:
# Comparison Operators
# lower than
# <

num1 = 51
num2 = 61
num1 < num2

True

In [ ]:
# Comparison Operators
# greater than or equal to 
# >=

number1 = 45
number2 = 45
number1 >= number2

True

In [ ]:
# Comparison Operators
# lower than or equal to 
# <=

number1 = 45
number2 = 45
number1 <= number2

True

In [ ]:
## Logical operators
# and
# or    
# not

y = True
x = True
result = y and x
print(result)

True

In [ ]:
## Logical operators
# and
# or    
# not

y = True
x = False
result = y or x
print(result)

True

In [ ]:
## Logical operators
# and
# or    
# not

y = True
not y

False

In [ ]:
## Simple calculator

num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
operator = input("Enter operator: ")
num1 = float(num1)
num2 = float(num2)
if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
else:
    print("Invalid operator")

75.0

In [ ]:
# Control Flow & Conditional statements
# If statement
# If-else statement
# If-elif-else statement
# Nested if statement

In [ ]:
# If statement
age = 20
if age >= 18:
    print("You are an adult")

You are an adult

In [ ]:
age >= 18

True

In [ ]:
# Control Flow & Conditional statements
## if-else statement

age = 16
if age >= 18:
    print("You are an adult")
else:
    print("You are not an adult")

You are not an adult

In [ ]:
# Control Flow & Conditional statements
# If-elif-else statement

age = 20
if age <13:
    print("You are a child")
elif age < 18:
    print("You are a teenager")
elif age < 65:
    print("You are an adult")
elif age >= 65:
    print("You are a senior citizen")

You are an adult

In [ ]:
# Nested Conditional Statements
# you can place one or more if, elif or else statements inside another conditional statement
# this is called a nested conditional statement

num = int(input("Enter the number: "))
if num >0:
    print("The number is positive")
    if num % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is negative")

The number is negative

In [ ]:
# Practical Examples
# Determine if a year is a leap year using nested conditional statements
year = int(input("Enter the year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, " is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is a not leap year")

1970 is a not leap year

In [ ]:
# Assignment
# Create a simple calculator
# Define a function that takes two numbers and an operator as input
# The function should return the result of the operation
# The function should support addition, subtraction, multiplication and division
# The function should handle invalid operators and return an error message
# Test the function with different inputs

def calculator(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    else:
        return "Invalid operator"

num1 = 10
num2 = 5
operator = '+'
result = calculator(num1, num2, operator)
print(result)

15

In [ ]:
def calculator():
    num1 = int(input("PLease give the first number:"))
    num2 = int(input("Please give the second number:"))
    operator = input("Please give the operator: ")
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    else:
        return "Invalid operator"

calculator()
print(calculator())  # This will print the result of the calculation

10

In [ ]:
## Example
## Determine the ticket price based on the age

# Take the user input
age = int(input("Please give your age:"))
is_student = input("Are you a student? (yes/no):").lower()

# Determine the ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == "yes":
        price = "$8"
    else:
        price = "$12"
else:
    price = "$25"
    
print("The ticket price is", price)

The ticket price is $25

In [ ]:
# Loops
# For loop
# While loop
# Nested loops

In [ ]:
# for loop
range(5)

range(0, 5)

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
range(1,10,2)

range(1, 10, 2)

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(1,10,-1):
    print(i)

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
my_string = "Jasper Bongers"
for i in my_string:
    print(i)

J
a
s
p
e
r

B
o
n
g
e
r
s

In [ ]:
# While loop
# The while loop is used to execute a block of code repeatedly as long as the condition is true
# The condition is evaluated before each iteration of the loop
# The condition is checked at the beginning of each iteration of the loop
# The condition is checked again at the end of each iteration of the loop

In [ ]:
count = 0 

while count <5:
    print(count)
    count = count + 1

0
1
2
3
4

In [ ]:
# Loop control statements
# Break statements

for i in range (10):
    if i == 5:
        break
    print(i)
    
print("Done")

0
1
2
3
4
Done

In [ ]:
# break function

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
# continue function

for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# continue function

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [ ]:
## Nested Loops
## Loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [ ]:
## Examples- Calculate the sum of first N natural numbers using a while abnd for loop

# while loop

n = 10
sum = 0
count = 1

while count <= n:
    sum = sum + count
    count = count + 1
    
print("The sum of first", n, "natural numbers is", sum)

The sum of first 10 natural numbers is 55

In [ ]:
## Example - Prime numbers between 1 and 100

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)
            break

2

In [ ]:
## Example - Prime numbers between 1 and 100
 

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num % i == 0:
                 break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# List and List comprehensions in Python

# Lists are ordered, mutable and allow duplicate elements
# List are created with squared brackets []
# Lists can contain different data types
# Lists can be nested

In [ ]:
names = ['Jasper', 'Bongers', 'John', 'Doe', 1,2,3,4,5]
print(names)

['Jasper', 'Bongers', 'John', 'Doe', 1, 2, 3, 4, 5]

In [ ]:
mixed_list = ['Jasper', 32, 6.1, True]
print(mixed_list)

['Jasper', 32, 6.1, True]

In [ ]:
# Accessing list items

fruits = ['apple', 'banana', 'cherry', 'date']
print(fruits[0])
print(fruits[1])

apple
banana

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[-1]

'date'

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:]

['banana', 'cherry', 'date']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:3]

['banana', 'cherry']

In [ ]:
# Modify the list 

fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1] = 'blueberry'
print(fruits)

['apple', 'blueberry', 'cherry', 'date']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:] = 'watermelon'
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [ ]:
# List methods
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.append('orange') ## this will add an item to the end of the list
print(fruits)

['apple', 'banana', 'cherry', 'date', 'orange']

In [ ]:
# List methods
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.insert(1, 'watermelon')
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'date']

In [ ]:
# List methods
# remove method
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.remove('banana')
print(fruits)

['apple', 'cherry', 'date']

In [ ]:
# List methods
# remove method
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruits.remove('banana')
print(fruits)
# Conclusion is that the remove method is removing the first occurance of the item in the list

['apple', 'cherry', 'date', 'banana']

In [ ]:
# List methods
# Pop method
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

banana
['apple', 'banana', 'cherry', 'date']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = fruits.index('cherry')
print(fruit_index)

2

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = fruits.index('banana')
print(fruit_index)
# As you can see the index method only returns the first occurance of the item in the list

1

In [ ]:
# If you want to get all the indices of a particular item in the list, you can use a for loop
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = []
for i in range(len(fruits)):
    if fruits[i] == 'banana':
        fruit_index.append(i)
print(fruit_index)

[1, 4]

In [ ]:
# Or you can use the enumerate function which returns both the index and the value of each item in
# the list
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = []
for i, fruit in enumerate(fruits):
    if fruit == 'banana':
        fruit_index.append(i)
print(fruit_index)

[1, 4]

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
print(fruits)
fruits.insert(2, 'Banana')
print(fruits)
print(fruits.count('banana'))

['apple', 'banana', 'cherry', 'date', 'banana']
['apple', 'banana', 'Banana', 'cherry', 'date', 'banana']
2

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'Banana']
fruits.sort()
print(fruits)

['Banana', 'apple', 'banana', 'cherry', 'date']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruits.reverse()
print(fruits)

['banana', 'date', 'cherry', 'banana', 'apple']

In [ ]:
print(fruits)
fruits.clear()
print(fruits)

['banana', 'date', 'cherry', 'banana', 'apple']
[]

In [ ]:
# Slicing lists
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[:])
print(numbers[::2])
print(numbers[::3])
print(numbers[::-1])
print(numbers[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

In [ ]:
## Iterating over a list
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
for fruit in fruits:
    print(fruit)
    
# Output: apple
# Output: banana
# Output: cherry
# Output: date
# Output: banana

apple
banana
cherry
date
banana

In [ ]:
# Iterating with index
numbers = [1,2,3,4,5,6,7,8,9,10]
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
# List comprehensions
# List comprehensions provide a concise way to create lists
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
new_fruits = [fruit for fruit in fruits if fruit != 'banana']
print(new_fruits)    
# Output: ['apple', 'cherry', 'date']
# The list comprehension iterates over the list 'fruits', and includes each item in the new list 'new_fruits' if the item is not equal to 'banana'
# This is equivalent to the following code:
new_fruits = []
for fruit in fruits:
    if fruit != 'banana':
        new_fruits.append(fruit)
print(new_fruits)
# Output: ['apple', 'cherry', 'date']

['apple', 'cherry', 'date']
['apple', 'cherry', 'date']

In [ ]:
# List comprehensions
lst = []

for x in range(10):
        lst.append(x)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# List comprehensions
result_list = [x for x in range(10)]    
print(result_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# List comprehensiuons
# Basic Syntax -> [expression for item in iterable]
# With conditional -> [expression for item in iterable if condition] 

fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
new_fruits = [fruit for fruit in fruits if fruit != 'banana']
print(new_fruits)
# Output: ['apple', 'cherry', 'date']

['apple', 'cherry', 'date']

In [ ]:
# Basic List Comprehension

square = [(num, num**2) for num in range(10)]
print(square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [ ]:
# Nested List comprehension
# Basic Syntax -> [expression for item in iterable for item2 in iterable2]

# Example: Create a list of tuples where each tuple contains the number and its square
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers]
result = [(num, square) for num, square in zip(numbers, squares)]
print(result)
# Output: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# Nested List comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']
result = [(x,y) for x in lst1 for y in lst2]
print(result)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [ ]:
## List comprehension with function calls

words = ['apple', 'banana', 'cherry', 'date', 'banana']
lenghts = [len(word) for word in words]
print(lenghts)

[5, 6, 6, 4, 6]

# Tuples

In [ ]:
# Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst = list()
print(type(lst))

<class 'list'>

In [ ]:
my_tuple = tuple((1,2,3,4,5))
print(type(my_tuple))

<class 'tuple'>

In [ ]:
my_tuple = tuple([1,2,3,4,5])
print(type(my_tuple))

<class 'tuple'>

In [ ]:
my_list = list((1,2,3,4,5))
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
mixed_tuple = (1, 'Jasper', 6.1, True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'Jasper', 6.1, True)
<class 'tuple'>

In [ ]:
numbers = (1,2,3,4,5)
print(numbers[0])

1

In [ ]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1])

2

In [ ]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1:4])

(2, 3, 4)

In [ ]:
# Tuple Operations

numbers = (1,2,3,4,5)
mixed_tuple = (1, 'Jasper', 6.1, True)
print(numbers + mixed_tuple)
concatenate_tuple = numbers + mixed_tuple
print(concatenate_tuple)

(1, 2, 3, 4, 5, 1, 'Jasper', 6.1, True)
(1, 2, 3, 4, 5, 1, 'Jasper', 6.1, True)

In [ ]:
numbers = (1,2,3,4,5)
print(numbers * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
# Immutability of tuples

numbers = (1,2,3,4,5)
numbers[0] = 10
print(numbers)
# Output: TypeError: 'tuple' object does not support item assignment
# Tuples are immutable, which means that the values of the tuple cannot be changed once it is created
# If you try to change a value in a tuple, you will get a TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Count function with Tuples

numbers = (1,2,3,4,5,1,2,3,4,5)
print(numbers.count(1))
# Output: 2

2

In [ ]:
# Index function

numbers = (1,2,3,4,5,1,2,3,4,5)
print(numbers.index(3))

2

In [ ]:
# Packing and unpacking oa a tuple

packed_tuple = 1, 'Hello', 3.14, True
print(packed_tuple)
print(type(packed_tuple))

num, string, pi, boolean = packed_tuple
print(num)
print(string)
print(pi)
print(boolean)
print(type(num))
print(type(string))
print(type(pi))
print(type(boolean))
print(type(packed_tuple))

(1, 'Hello', 3.14, True)
<class 'tuple'>
1
Hello
3.14
True
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'tuple'>

In [ ]:
# Unpacking of a tuple with * operator

numbers = (1,2,3,4,5)
first,*middle,last = numbers
print(first)
print(middle)
print(last)
# Output: 1 [2, 3, 4] 5
# The * operator unpacks the tuple into a list and assigns it to the middle variable. The
# first variable is assigned the first element of the tuple, and the last variable is assigned
# the last element of the tuple
# The * operator can be used to unpack any iterable, not just tuples. It can be used
# to unpack lists, sets, and dictionaries as well
# The * operator can be used to unpack a variable number of arguments in a function
# definition. This is known as variable length argument list or varargs

1
[2, 3, 4]
5

In [ ]:
# Slicing a Nested List
my_list = [[1,2,3], [4,5,6], [7,8,9]]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[0][0])
print(my_list[1][1])
print(my_list[2][2])
# Output:
# [1, 2, 3]
# [4, 5, 6]
# [7, 8, 9]
# 1
# 5
# 9

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
5
9

In [ ]:
# Slicing a Nested List
my_tuple = (1,2,3), (4,5,6), (7,8,9)
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[0][0])
print(my_tuple[1][1])
print(my_tuple[2][2])
# Output:
# (1, 2, 3)
# (4, 5, 6)
# (7, 8, 9)
# 1
# 5
# 9

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
1
5
9

In [ ]:
# Iterating over Nested Tuples

for sub_tuple in my_tuple:
    for item in sub_tuple:
        print(item, end=' ')
    print()

1 2 3
4 5 6
7 8 9

# Dictionaries in Python

In [ ]:
# Dictionaries are unordered, mutable and indexed collections of key-value pairs
# Dictionaries are created with curly brackets {}and key-value pairs are separated by commas
# Dictionaries can contain different data types as keys and values
# Dictionaries can be nested
# Dictionaries are mutable, which means that the values of the dictionary can be changed once it is created
# Dictionaries are indexed by keys, not by positions
# Dictionaries do not allow duplicate keys
# Dictionaries are case sensitive
# Dictionaries can be used to implement a hash table
# Dictionaries can be used to implement a set
# Dictionaries can be used to implement a map
# Dictionaries can be used to implement a database table

In [ ]:
# Creating a Dictionary

empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [ ]:
# Creating a dictionary with key-value pairs
student = {'name': 'Jasper', 'age': 32, 'height': 6.1}
print(student)

{'name': 'Jasper', 'age': 32, 'height': 6.1}

In [ ]:
# Accessing dictionary elements
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
print(student['name'])
print(student['age'])
print(student['height'])
print(student['grade'])

Jasper
32
6.1
A

In [ ]:
# Accessing dictionary elements 
# Get method

student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
print(student.get('grade'))
print(student.get('lastname'))
print(student.get('lastname','Not Available'))

A
None
Not Available

In [ ]:
# Modifying Dictionary elements
# Dictionaries are mutuable
# You can change the value of a key in a dictionary by assigning a new value to it
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
print(student)
student['name'] = 'Bongers'
print(student)
student['grade'] = 'B'
print(student)

{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
{'name': 'Bongers', 'age': 32, 'height': 6.1, 'grade': 'A'}
{'name': 'Bongers', 'age': 32, 'height': 6.1, 'grade': 'B'}

In [ ]:
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
student['Address'] = 'Kuala Lumpur'
print(student)

{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A', 'Address': 'Kuala Lumpur'}

In [ ]:
del student['height']

In [ ]:
print(student)

{'name': 'Jasper', 'age': 32, 'grade': 'A', 'Address': 'Kuala Lumpur'}

In [ ]:
keys = student.keys()
print(keys)
values = student.values()
print(values)

dict_keys(['name', 'age', 'grade', 'Address'])
dict_values(['Jasper', 32, 'A', 'Kuala Lumpur'])

In [ ]:
items = student.items() ## get all key-value pairs
for key, value in items:
    print(key, ':', value)

name : Jasper
age : 32
grade : A
Address : Kuala Lumpur

In [ ]:
# Shallow copy

a = 10
b = a
print(a)
print(b)
print(id(a))
print(id(b))
a = 20
print(a)
print(b)
print(id(a))
print(id(b))

10
10
4350496152
4350496152
20
10
4350496472
4350496152

In [ ]:
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
student_copy = student
print(student)
print(student_copy)
student['name'] = 'Bongers'
print(student['name'])
print(student_copy['name'])

{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
Bongers
Bongers

In [ ]:
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
student_copy = student.copy()
print(student)
print(student_copy)
student['name'] = 'Bongers'
print(student['name'])
print(student_copy['name'])

{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
Bongers
Jasper

In [ ]:
# Iterating over dictionaries

student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
for key in student.keys():
    print(key)

name
age
height
grade

In [ ]:
# Iterating over dictionaries

student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
for key in student.keys():
    print(key, student[key])

name Jasper
age 32
height 6.1
grade A

In [211]:
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
for value in student.values():
    print(value)

Jasper
32
6.1
A

In [213]:
student = {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'}
for key, value in student.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Jasper
Key: age, Value: 32
Key: height, Value: 6.1
Key: grade, Value: A

In [231]:
# Nested Dictionaries

students = {
    'student1': {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'},
    'student2': {'name': 'Candice', 'age': 28, 'height': 6.1, 'grade':'B'},
    'student3': {'name': 'Valentijn', 'age': 18, 'height': 6.1, 'grade':'A'},
    'student4': {'name': 'Benjamin', 'age': 17, 'height': 6.1, 'grade':'A'},
    'student5': {'name': 'Isabelle', 'age': 14, 'height': 6.1, 'grade':'A'}
}

print(students['student1'])
print(students['student1']['name'])

{'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
Jasper

In [232]:
# Acess Nested Dictionaries

students = {
    'student1': {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade':'A'},
    'student2': {'name': 'Candice', 'age': 28, 'height': 6.1, 'grade':'B'},
    'student3': {'name': 'Valentijn', 'age': 18, 'height': 6.1, 'grade':'A'},
    'student4': {'name': 'Benjamin', 'age': 17, 'height': 6.1, 'grade':'A'},
    'student5': {'name': 'Isabelle', 'age': 14, 'height': 6.1, 'grade':'A'}
}

for student in students:
    print(students[student]['name'])
    print(students[student]['age'])
    print(students[student]['height'])
    print(students[student]['grade'])
    print()

Jasper
32
6.1
A

Candice
28
6.1
B

Valentijn
18
6.1
A

Benjamin
17
6.1
A

Isabelle
14
6.1
A

In [239]:
print(students['student1']['name'])
print(students['student2']['name'])
print(students['student2']['age'])

Jasper
Candice
28

In [240]:
# Iterate over Nested Dictionaries

for student_id, student_info in students.items():
    print(f"Student_id: {student_id}, Student_info: {student_info}")
    for key, value in student_info.items():
        print(f"Key: {key}, Value {value}")
    print()

Student_id: student1, Student_info: {'name': 'Jasper', 'age': 32, 'height': 6.1, 'grade': 'A'}
Key: name, Value Jasper
Key: age, Value 32
Key: height, Value 6.1
Key: grade, Value A

Student_id: student2, Student_info: {'name': 'Candice', 'age': 28, 'height': 6.1, 'grade': 'B'}
Key: name, Value Candice
Key: age, Value 28
Key: height, Value 6.1
Key: grade, Value B

Student_id: student3, Student_info: {'name': 'Valentijn', 'age': 18, 'height': 6.1, 'grade': 'A'}
Key: name, Value Valentijn
Key: age, Value 18
Key: height, Value 6.1
Key: grade, Value A

Student_id: student4, Student_info: {'name': 'Benjamin', 'age': 17, 'height': 6.1, 'grade': 'A'}
Key: name, Value Benjamin
Key: age, Value 17
Key: height, Value 6.1
Key: grade, Value A

Student_id: student5, Student_info: {'name': 'Isabelle', 'age': 14, 'height': 6.1, 'grade': 'A'}
Key: name, Value Isabelle
Key: age, Value 14
Key: height, Value 6.1
Key: grade, Value A

In [241]:
# Dictionary conprehension

squares = {num: num**2 for num in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [242]:
# Dictionary conprehension

squares = {num: num**2 for num in range(10) if num%2==0}
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [248]:
## Practical Example
# Use a dictionary to count the frequency of elements in a list
# Define a function that takes a list as input
def count_frequency(lst):
    # Create an empty dictionary to store the frequency of each element
    freq = {}
    # Iterate over the list and count the frequency of each element
    for item in lst:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    # Return the frequency dictionary
    return freq

my_list = [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]
count_frequency(my_list)

{1: 3, 2: 3, 3: 3, 4: 3, 5: 3}

In [246]:
# Practical Example
# Use a dictionary to count the frequency of elements in a list
# Define a function that takes a list as input

my_list = [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]
my_dict = {}

for element in my_list:
    if element in my_dict:
        my_dict[element] += 1
    else:
        my_dict[element] = 1
print(my_dict)

{1: 3, 2: 3, 3: 3, 4: 3, 5: 3}

In [249]:
# Merge two dictionaries into one

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Real world used cases

## To Do list

In [251]:
to_do_list = ['Buy groceries', 'Clean the house', 'Pay bills']

# Adding a task
to_do_list.append('Schedule a meeting')
to_do_list.append('Go to the gym')

# Removing items from the list
to_do_list.remove('Clean the house')

## Checking if a task is in the list
if "Pay bills" in to_do_list:
    print("Don't forget to pay the bills")

print("To do list remaining")
for task in to_do_list:
    print(f"- {task}")

Don't forget to pay the bills
To do list remaining
- Buy groceries
- Pay bills
- Schedule a meeting
- Go to the gym

# Organizing student grades

In [255]:
# If you have accidentally overwritten the built-in sum function
sum = 10

# Delete the variable sum to restore the built-in function
del sum

In [256]:
# Organizing student grades

student_grades = [89, 92, 78, 85, 97, 80, 85, 90, 92, 88]

# Adding a new grade
student_grades.append(95)

# Calculating the average grade
average_grade = sum(student_grades) / len(student_grades)
print(f"Average grade is: {average_grade}")

# Finding the highest and lowest grade
highest_grade = max(student_grades)
lowest_grade = min(student_grades)
print(f"Highest grade is: {highest_grade}")
print(f"Lowest grade is: {lowest_grade}")

Average grade is: 88.27272727272727
Highest grade is: 97
Lowest grade is: 78

## Managing an inventory

In [257]:
# Managing an inventory
inventory = ['apple', 'banana', 'cherry', 'date', 'banana']

# Adding a new item
inventory.append('orange')

# Removing an item
inventory.remove('banana')

# Checking if an item is in the inventory
item = 'cherry'
if item in inventory:
    print(f"{item} is in the inventory")
else:
    print(f"{item} is not in the inventory")

# Printing the inventory
print("Inventory list:")
for item in inventory:
    print(f"- {item}")

cherry is in the inventory
Inventory list:
- apple
- cherry
- date
- banana
- orange

## Collecting user feedback

In [260]:
# Collecting Usder feedback
feedback = ['great service', 'poor quality', 'excellent product', 'slow delivery']

# Adding a new feedback
feedback.append('fast shipping')

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive feedback count: {positive_feedback_count}")

# Printing all the feedback
print("User feedback:")
for comment in feedback:
    print(f"- {comment}")# Removed the unnecessary variable assignment

Positive feedback count: 2
User feedback:
- great service
- poor quality
- excellent product
- slow delivery
- fast shipping

# Getting started with Functions

In [269]:
# Example function for temperature conversion

def convert_temperature(temp, unit):
    if unit == "C":
        contra_unit = 'F'
        converted_temp = (temp - 32) * 5/9
    elif unit == "F":
        contra_unit = 'C'
        converted_temp = (temp * 9/5) + 32
    else:
        return "Invalid unit", None
    return converted_temp, contra_unit

temp = float(input("Enter the temperature: "))
unit = input("Enter the unit (C for Celsius or F for Fahrenheit): ")

result, contra_unit = convert_temperature(temp, unit)
if contra_unit:
    print(f"The temperature in {contra_unit} is {result:.2f}")
else:
    print(result)

The temperature in F is -1.11

In [275]:
# Example function for check password strenth 

def is_strong_password(password):
    """ This function checks if the password is strong or not"""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isalpha() for char in password):
        return False
    if not any(char in '!@#%$*&^' for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    return True

input_password = input("Please enter your password: ")
if is_strong_password(input_password):
    print("Password is strong:")
else: 
    print("Password is weak")

Password is strong:

In [285]:
# Function to calculate the total costs of items in a Shopping Cart

def calculate_total_cost(cart):
    total_cost = 0
    for item in cart.items():
        total_cost += float(item[1])
    return total_cost

cart = {'apple': 1.99, 'banana': 0.99, 'cherry': 2.99, 'date': 1.49}

print("{:.2f}".format(calculate_total_cost(cart)))

7.46

In [301]:
# Function to calculate the total costs of items in a Shopping Cart

def calculate_total_cost(cart):
    total_cost = 0
    for product in cart:
        item_costs = float(product['price']) * float(product['quantity'])
        total_cost += item_costs
    return total_cost

cart = [{'name':'Apple', 'price': 1.99, 'quantity': 5},
        {'name':'Banana', 'price': 1.99, 'quantity': 10},
        {'name':'Pear', 'price': 2.99, 'quantity': 2},
        {'name':'Mango', 'price': 4.99, 'quantity': 3}]

print("{:.2f}".format(calculate_total_cost(cart)))

50.80

In [306]:
# Function that checks wether a String is a Palindrome
# A palindrome is a word, phrase, number, or other sequence of characters which reads the same backward as forward

def is_palindrome(word):
    word = word.lower().replace(" ","")
    return word == word[::-1]
# The function uses slicing to reverse the word and then checks if it is equal to the original word
# If they are equal, the function returns True, otherwise it returns False
# The function is case sensitive and does not handle spaces or punctuation
# It also does not handle non-string inputs
# For example, is_palindrome("radar") returns True, while is_palindrome("hello
# ") returns False

print(is_palindrome("radar"))
print(is_palindrome("hello"))   
print(is_palindrome("Radar"))

True
False
True

In [311]:
# Function that calculates the factorial of a number using recursion

def factorial(num):
    if num == 0:
        return 1
    else: 
        return num * factorial(num-1)
# The function uses recursion to calculate the factorial of a number
# Test the function
print(factorial(5))
print(factorial(10))
print(factorial(0))
print(factorial(1))

120
3628800
1
1

In [321]:
# Function to read a file and count the frequency of each word

def count_word_frequency(filepath):
    word_count = {}
    with open (filepath, 'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!@#$%^&*()_+=')
                word_count[word] = word_count.get(word,0) + 1
    return word_count

# Create a file with text
with open('test.txt', 'w') as file:
    file.write('Hello world! This is a test file file file.')

# Read the file and count the frequency of each word
my_word_count = count_word_frequency('test.txt')    
print(my_word_count)  # This will print the frequency of each word in the file

{'hello': 1, 'world': 1, 'this': 1, 'is': 1, 'a': 1, 'test': 1, 'file': 3}

In [324]:
# Function to validate email address

import re

def is_valid_email(email):
    """ This function checks if a given email address is valid"""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    if re.match(pattern, email):
        return True
    else:
        return False
    
email = input("Please enter your email address: ")

if is_valid_email(email):
    print("Email address is valid")
else:
    print("Email address is invalid")

Email address is valid

In [327]:
# Function to validate phone number
def is_valid_phone(phone):
    """ This function checks if a given phone number is valid"""
    pattern = r'^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$'
    if re.match(pattern, phone):
        return True
    else:
        return False

phone = input("Please enter your phone number: ")

if is_valid_email(phone):
    print("Phone number is valid")
else:
    print("Phone number is invalid")

Phone number is invalid

# Lambda Functions in Python

In [328]:
def addition(a,b):
    return a + b

print(addition(2,10))

12

In [330]:
# Create a lambda function -> is an anonoumous function
addition = lambda a,b: a+b
print(type(addition))
print(addition(5,6))

<class 'function'>
11

In [ ]:
def even(num):
    if num % 2 == 0:
        return True
    else:
        return False

even(24)

True

In [332]:
# Creating a lambda function

even1 = lambda num : num % 2 == 0
print(even(24))

True

In [333]:
def addition(x,y,z):
    return x + y + z

addition(12,13,14)

39

In [335]:
addition1 = lambda x,y,z: x+y+z
addition1(12,13,14)

39

In [336]:
# Map function

numbers = [1,2,3,4,5]
double_numbers = map(lambda x: x*2, numbers)
print(list(double_numbers))

[2, 4, 6, 8, 10]

In [337]:
# Filter function
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [340]:
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'BANANA']

In [344]:
def get_name(person):
    return person['name']

people = [
    {'name':'Jasper', 'age':32},
    {'name':'Luna', 'age':25},
    {'name':'Aurora', 'age':28}
]

list(map(get_name, people))

['Jasper', 'Luna', 'Aurora']

# Modules in Python

## Importing Modules into Python

In [345]:
import math
math.sqrt(16)

4.0

In [ ]:
from math import sqrt,pi
from math import *
print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [349]:
!pip install numpy
import numpy as np
np.array([1,2,3,4])

Collecting numpy
  Using cached numpy-2.1.3-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Using cached numpy-2.1.3-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Installing collected packages: numpy
Successfully installed numpy-2.1.3

array([1, 2, 3, 4])

# Packages

In [351]:
from maths import addition
addition(2,5)

7

In [353]:
from maths import *
from mult import *

In [355]:
print(addition(7,4))

11

In [356]:
print(multiply(4,7))

28

In [364]:
from subtraction import subtraction
print(subtraction(7,4))

3

# Standard Library Overview

In [365]:
import array
arr = array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [366]:
import math
print(math.sqrt(16))
print(math.pi)
print(math.e)

4.0
3.141592653589793
2.718281828459045

In [371]:
import random
print(random.randint(1,10))
print(random.choice(['apple', 'banana', 'cherry']))

6
apple

In [372]:
# File and Directory access

import os
print(os.getcwd())

/Users/jasper/Desktop/Introduction_AIML/1-Python_Basics

In [373]:
os.mkdir('test_dir')

In [377]:
# High level operations on files and collectrions of files

import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [380]:
import json
data = {'name':'Jasper', 'age':32, 'height':6.1}
json_str = json.dumps(data)
print(json_str)

{"name": "Jasper", "age": 32, "height": 6.1}

In [382]:
print(type(json_str))
parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

<class 'str'>
{'name': 'Jasper', 'age': 32, 'height': 6.1}
<class 'dict'>

In [383]:
# csv module

import csv
with open('example.csv', 'w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'Height'])
    writer.writerow(['Jasper', 32, 6.1])
    writer.writerow(['Luna', 25, 5.5])
    writer.writerow(['Aurora', 28, 6.2])
    
with open('example.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'Height']
['Jasper', '32', '6.1']
['Luna', '25', '5.5']
['Aurora', '28', '6.2']

In [ ]:
# datetime
from datetime import datetime, timedelta
now = datetime.now()
print(now)

yesterday = now - timedelta(days=1)
print(yesterday)

2024-11-28 22:04:48.565041
2024-11-27 22:04:48.565041

In [388]:
# time

import time
print(time.time())
time.sleep(2)
print(time.time())

1732802771.3704221
1732802773.37565

In [390]:
# Regular expression

import re
pattern = r'\d+'
text = 'There are 123 apples'
match = re.search(pattern,text)
print(match.group())

123

In [392]:
# Read a while file

with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hellow
How are you?
I am good
Jasper is my name
Welcome to the course

In [393]:
# Read a file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

Hellow

How are you?

I am good

Jasper is my name

Welcome to the course

In [397]:
# Read a whiole file

with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hellow
How are you?
I am good
Jasper is my name
Welcome to the course

In [398]:
# Read a file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

Hellow

How are you?

I am good

Jasper is my name

Welcome to the course

In [ ]:
with open('example.txt', 'w') as file:
    file.write("Hello new world")
            # Conclusion -> write function over-writes the whole file

In [ ]:
# Read a file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

Hello new world

In [402]:
# Write a file without overwriting

with open('example.txt', 'a') as file:
    file.write("Hello new world")
    file.write("This will be a beautifull day")

In [403]:
# Read a file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

Hello new worldHello new worldThis will be a beautifull dayHello new worldThis will be a beautifull day

In [409]:
lines = ['first line \n','second line \n', 'third line \n']
with open('example.txt', 'w') as file:
          file.writelines(lines)

In [410]:
# Read a file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

first line

second line

third line

In [408]:
## Binary files
# writing to a binary file

data = b'\x00\x01\x02\x03'
with open('example.bin', 'wb') as file:
    file.write(data)

In [413]:
# Read a file line by line
with open('example.bin', 'rb') as file:
    for line in file:
        print(line)

b'\x00\x01\x02\x03'

In [414]:
# Reading a binary file
with open('example.bin', 'rb') as file:
    data = file.read()
    print(data)

b'\x00\x01\x02\x03'

In [415]:
# Read the content from a source file and write to a destination text file

# copying a text file

with open('example.txt', 'r') as source_file:
    content = source_file.read()
    
with open('destination2.txt', 'w') as destination_file:
    destination_file.write(content)

In [416]:
# writing and then reading a file in python

with open('example.txt', 'w+') as file:
    file.write('What can we do today to turnaround into the future? \n')
    file.write('This is a newline \n')
    
    ## Move the file cussor to the beginning
    file.seek(0)
    
    # Read the content of thr file
    content = file.read()
    print(content)

What can we do today to turnaround into the future?
This is a newline

In [417]:
# Creating a new directory
import os
new_directory = "package"
os.mkdir(new_directory)
print(f"Directory {new_directory} created")

Directory package created

In [420]:
## Listing files and directories
current_dir = os.getcwd()
print(current_dir)

items = os.listdir(".")
print(items)

/Users/jasper/Desktop/Introduction_AIML/1-Python_Basics
['mult.py', 'destination.txt', 'example.csv', '__init__.py', '__pycache__', 'test.py', 'source.txt', 'test_dir', 'example.bin', 'example.txt', 'test.txt', 'subtraction.py', 'maths.py', 'destination2.txt', 'test.ipynb', 'package']

In [422]:
# Joining paths 

dir_name = 'folder'
file_name = 'file.txt'
#full_path = os.path.join(dir_name,file_name)
full_path = os.path.join(os.getcwd(),dir_name,file_name)
print(full_path)

/Users/jasper/Desktop/Introduction_AIML/1-Python_Basics/folder/file.txt

In [425]:
path = 'example1.txt'
if os.path.exists(path):
    print("The filepath already exists")
else:
    print("The filepath does not exist")

The filepath does not exist

In [426]:
# Checking if the path is a file or directory

import os
path = 'example.txt'

if os.path.isfile(path):
    print("The path is a file")
elif os.path.isdir(path):
    print("The path is a directory")
else:
    print("The path is neither a file nor a directory")

The path is a file

In [ ]:
# Absolute path

import os
relative_path = 'example.txt'
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

/Users/jasper/Desktop/Introduction_AIML/1-Python_Basics/example.txt

# Exception handling