### Python Example

1+1

print(1+1)

In [1]:
1+1

2

In [2]:
print("Hello world")

Hello world

In [3]:
name = "Jasper"
surname = "Bongers"
print(name + " " + surname)

Jasper Bongers

In [4]:
age=32
if age > 30:
    print("You are older than 30")

You are older than 30

In [6]:
# Use a backslash to continue a statement on the next line 
total = 1 + 2 + 3 + 4 + 5 + 6 + 7 \
    + 8 + 9 + 10
print(total)

55

In [7]:
# Multiple statements on one line
x = 5
y = 10
z = x + y
print(z)

15

In [8]:
# Understand the semantics in Python
age = 32 ## age is an integer
name = 'Bongers' ## name is a string
print(age)  # Output: 32
print(name)  # Output: Bongers
print('My name is', name, 'and I am', age, 'years old.')

32
Bongers
My name is Bongers and I am 32 years old.

In [9]:
type(name)

str

In [10]:
var = 10
type(var)
var = 'Jasper'
type(var)

str

In [1]:
# Declaring and assigning Variables

age = 32
height = 6.1
name = 'Jasper'
is_adult = True
is_married = True

# printing the variables
print("age: ", age)
print("height: ", height)
print("name: ", name)
print("is an adult?: ", is_adult)
print("is married?: ", is_married)

age:  32
height:  6.1
name:  Jasper
is an adult?:  True
is married?:  True

In [2]:
# Naming conventions
# Variable names should be descriptive
# Variable names should be in lowercase
# Variable names should be short
# Variable names should be meaningful
# Variable names should not start with a number; they can start with a letter or a underscore
# Variable names should not contain special characters
# Variable names should not contain spaces
# Variable names should not be a keyword
# Variable names should not be a built-in function name
# Variable names should not be a class name
# Variable names should not be a function name
# Variable names should not be a module name
# Variable names should not be a package name
# Variable names should not be a constant

In [6]:
# Variable names are case-sensitive
name = "Jasper"
Name = "Bongers"
print(name)
print(Name)
print(name == Name)
# Output: Jasper
# Output: Bongers
# Variables can be reassigned
name = "Jasper"
print(name)
name = "Bongers"
print(name)

Jasper
Bongers
False
Jasper
Bongers

In [7]:
# Important to understand variable types
age = 32
height = 6.1
name = 'Jasper'
is_adult = True
is_married = True
print(type(age))
print(type(height))
print(type(name))
print(type(is_adult))
print(type(is_married))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [ ]:
# Type checking and type conversion

#Type checking
age = 25
print(type(age))

# Type conversion
age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [10]:
age = "25"
print(type(age))
str_age = int(age)
print(type(str_age))

<class 'str'>
<class 'int'>

In [11]:
name = "Jasper"
print(type(name))
int_name = int(name)
print(type(int_name))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Jasper'

In [13]:
height = 7.0
type(height)
print(int(height))

7

In [15]:
# Dynamic Typing
# Python allows the type of the variable to change during the execution of the program
var = 10
print(var,type(var))
var = "Hello"
print(var,type(var))
var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [16]:
## input
name = input("What is your name? ")
print("Hello", name)
print(type(name))
# output
# What is your name? Jasper
# Hello Jasper

Hello Jasper
<class 'str'>

In [19]:
# Input

age = input("What is your age?")
print("Hello", age)
print(type(age))

Hello 5
<class 'str'>

In [20]:
## Integer Example
age = 35
print(type(age))
print(age)

<class 'int'>
35

In [21]:
## Example floating point data type
height = 7.5
print(height)
print(type(height))

7.5
<class 'float'>

In [22]:
## Example dayatype string

name = "Jasper"
print(name)
print(type(name))

Jasper
<class 'str'>

In [23]:
# Example boolean data type
is_adult = True
print(is_adult)
print(type(is_adult))

True
<class 'bool'>

In [24]:
is_true = bool()
print(type(is_true))

<class 'bool'>

In [25]:
a = 10
b = 20
print(a==b)

False

In [28]:
a = 10
b = 5
print("a = ", a)
print("b = ", b)

add_result = a + b
sub_result = a - b
mul_result = a * b
div_result = a / b
floor_div_result = a // b
modulus_result = a % b
print("a + b = ", add_result)
print("a - b = ", sub_result)
print("a * b = ", mul_result)
print("a / b = ", div_result)
print("a // b = ", floor_div_result)
print("a % b = ", modulus_result)

a =  10
b =  5
a + b =  15
a - b =  5
a * b =  50
a / b =  2.0
a // b =  2
a % b =  0

In [29]:
# Comparison Operators
# ==
a = 10
b = 10
a==b

True

In [30]:
str1 = "Hello"
str2 = "Hello"
str1 == str2
# Output: True

True

In [33]:
str1!=str2

False

In [35]:
# Comparison Operators
# greater than
# >

num1 = 41
num2 = 31
num1 > num2

True

In [37]:
# Comparison Operators
# lower than
# <

num1 = 51
num2 = 61
num1 < num2

True

In [38]:
# Comparison Operators
# greater than or equal to 
# >=

number1 = 45
number2 = 45
number1 >= number2

True

In [39]:
# Comparison Operators
# lower than or equal to 
# <=

number1 = 45
number2 = 45
number1 <= number2

True

In [41]:
## Logical operators
# and
# or    
# not

y = True
x = True
result = y and x
print(result)

True

In [42]:
## Logical operators
# and
# or    
# not

y = True
x = False
result = y or x
print(result)

True

In [43]:
## Logical operators
# and
# or    
# not

y = True
not y

False

In [44]:
## Simple calculator

num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
operator = input("Enter operator: ")
num1 = float(num1)
num2 = float(num2)
if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
else:
    print("Invalid operator")

75.0

In [ ]:
# Control Flow & Conditional statements
# If statement
# If-else statement
# If-elif-else statement
# Nested if statement

In [47]:
# If statement
age = 20
if age >= 18:
    print("You are an adult")

You are an adult

In [48]:
age >= 18

True

In [49]:
# Control Flow & Conditional statements
## if-else statement

age = 16
if age >= 18:
    print("You are an adult")
else:
    print("You are not an adult")

You are not an adult

In [52]:
# Control Flow & Conditional statements
# If-elif-else statement

age = 20
if age <13:
    print("You are a child")
elif age < 18:
    print("You are a teenager")
elif age < 65:
    print("You are an adult")
elif age >= 65:
    print("You are a senior citizen")

You are an adult

In [53]:
# Nested Conditional Statements
# you can place one or more if, elif or else statements inside another conditional statement
# this is called a nested conditional statement

num = int(input("Enter the number: "))
if num >0:
    print("The number is positive")
    if num % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is negative")

The number is negative

In [57]:
# Practical Examples
# Determine if a year is a leap year using nested conditional statements
year = int(input("Enter the year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, " is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is a not leap year")

1970 is a not leap year

In [58]:
# Assignment
# Create a simple calculator
# Define a function that takes two numbers and an operator as input
# The function should return the result of the operation
# The function should support addition, subtraction, multiplication and division
# The function should handle invalid operators and return an error message
# Test the function with different inputs

def calculator(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    else:
        return "Invalid operator"

num1 = 10
num2 = 5
operator = '+'
result = calculator(num1, num2, operator)
print(result)

15

In [ ]:
def calculator():
    num1 = int(input("PLease give the first number:"))
    num2 = int(input("Please give the second number:"))
    operator = input("Please give the operator: ")
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    else:
        return "Invalid operator"

calculator()
print(calculator())  # This will print the result of the calculation

10

In [61]:
## Example
## Determine the ticket price based on the age

# Take the user input
age = int(input("Please give your age:"))
is_student = input("Are you a student? (yes/no):").lower()

# Determine the ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == "yes":
        price = "$8"
    else:
        price = "$12"
else:
    price = "$25"
    
print("The ticket price is", price)

The ticket price is $25

In [62]:
# Loops
# For loop
# While loop
# Nested loops

In [63]:
# for loop
range(5)

range(0, 5)

In [64]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [67]:
range(1,10,2)

range(1, 10, 2)

In [68]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [69]:
for i in range(1,10,-1):
    print(i)

In [70]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [71]:
my_string = "Jasper Bongers"
for i in my_string:
    print(i)

J
a
s
p
e
r

B
o
n
g
e
r
s

In [72]:
# While loop
# The while loop is used to execute a block of code repeatedly as long as the condition is true
# The condition is evaluated before each iteration of the loop
# The condition is checked at the beginning of each iteration of the loop
# The condition is checked again at the end of each iteration of the loop

In [73]:
count = 0 

while count <5:
    print(count)
    count = count + 1

0
1
2
3
4

In [74]:
# Loop control statements
# Break statements

for i in range (10):
    if i == 5:
        break
    print(i)
    
print("Done")

0
1
2
3
4
Done

In [75]:
# break function

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [76]:
# continue function

for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [78]:
# continue function

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [79]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [80]:
## Nested Loops
## Loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [81]:
## Examples- Calculate the sum of first N natural numbers using a while abnd for loop

# while loop

n = 10
sum = 0
count = 1

while count <= n:
    sum = sum + count
    count = count + 1
    
print("The sum of first", n, "natural numbers is", sum)

The sum of first 10 natural numbers is 55

In [85]:
## Example - Prime numbers between 1 and 100

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)
            break

2

In [95]:
## Example - Prime numbers between 1 and 100
 

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num % i == 0:
                 break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [96]:
# List and List comprehensions in Python

# Lists are ordered, mutable and allow duplicate elements
# List are created with squared brackets []
# Lists can contain different data types
# Lists can be nested

In [97]:
names = ['Jasper', 'Bongers', 'John', 'Doe', 1,2,3,4,5]
print(names)

['Jasper', 'Bongers', 'John', 'Doe', 1, 2, 3, 4, 5]

In [98]:
mixed_list = ['Jasper', 32, 6.1, True]
print(mixed_list)

['Jasper', 32, 6.1, True]

In [100]:
# Accessing list items

fruits = ['apple', 'banana', 'cherry', 'date']
print(fruits[0])
print(fruits[1])

apple
banana

In [101]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[-1]

'date'

In [102]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:]

['banana', 'cherry', 'date']

In [103]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:3]

['banana', 'cherry']

In [106]:
# Modify the list 

fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1] = 'blueberry'
print(fruits)

['apple', 'blueberry', 'cherry', 'date']

In [107]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:] = 'watermelon'
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [110]:
# List methods
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.append('orange') ## this will add an item to the end of the list
print(fruits)

['apple', 'banana', 'cherry', 'date', 'orange']

In [113]:
# List methods
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.insert(1, 'watermelon')
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'date']

In [114]:
# List methods
# remove method
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.remove('banana')
print(fruits)

['apple', 'cherry', 'date']

In [116]:
# List methods
# remove method
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruits.remove('banana')
print(fruits)
# Conclusion is that the remove method is removing the first occurance of the item in the list

['apple', 'cherry', 'date', 'banana']

In [118]:
# List methods
# Pop method
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

banana
['apple', 'banana', 'cherry', 'date']

In [120]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = fruits.index('cherry')
print(fruit_index)

2

In [123]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = fruits.index('banana')
print(fruit_index)
# As you can see the index method only returns the first occurance of the item in the list

1

In [124]:
# If you want to get all the indices of a particular item in the list, you can use a for loop
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = []
for i in range(len(fruits)):
    if fruits[i] == 'banana':
        fruit_index.append(i)
print(fruit_index)

[1, 4]

In [125]:
# Or you can use the enumerate function which returns both the index and the value of each item in
# the list
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruit_index = []
for i, fruit in enumerate(fruits):
    if fruit == 'banana':
        fruit_index.append(i)
print(fruit_index)

[1, 4]

In [126]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
print(fruits)
fruits.insert(2, 'Banana')
print(fruits)
print(fruits.count('banana'))

['apple', 'banana', 'cherry', 'date', 'banana']
['apple', 'banana', 'Banana', 'cherry', 'date', 'banana']
2

In [128]:
fruits = ['apple', 'banana', 'cherry', 'date', 'Banana']
fruits.sort()
print(fruits)

['Banana', 'apple', 'banana', 'cherry', 'date']

In [129]:
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
fruits.reverse()
print(fruits)

['banana', 'date', 'cherry', 'banana', 'apple']

In [130]:
print(fruits)
fruits.clear()
print(fruits)

['banana', 'date', 'cherry', 'banana', 'apple']
[]

In [136]:
# Slicing lists
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[:])
print(numbers[::2])
print(numbers[::3])
print(numbers[::-1])
print(numbers[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

In [137]:
## Iterating over a list
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
for fruit in fruits:
    print(fruit)
    
# Output: apple
# Output: banana
# Output: cherry
# Output: date
# Output: banana

apple
banana
cherry
date
banana

In [138]:
# Iterating with index
numbers = [1,2,3,4,5,6,7,8,9,10]
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [139]:
# List comprehensions
# List comprehensions provide a concise way to create lists
fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
new_fruits = [fruit for fruit in fruits if fruit != 'banana']
print(new_fruits)    
# Output: ['apple', 'cherry', 'date']
# The list comprehension iterates over the list 'fruits', and includes each item in the new list 'new_fruits' if the item is not equal to 'banana'
# This is equivalent to the following code:
new_fruits = []
for fruit in fruits:
    if fruit != 'banana':
        new_fruits.append(fruit)
print(new_fruits)
# Output: ['apple', 'cherry', 'date']

['apple', 'cherry', 'date']
['apple', 'cherry', 'date']

In [143]:
# List comprehensions
lst = []

for x in range(10):
        lst.append(x)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
# List comprehensions
result_list = [x for x in range(10)]    
print(result_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
# List comprehensiuons
# Basic Syntax -> [expression for item in iterable]
# With conditional -> [expression for item in iterable if condition] 

fruits = ['apple', 'banana', 'cherry', 'date', 'banana']
new_fruits = [fruit for fruit in fruits if fruit != 'banana']
print(new_fruits)
# Output: ['apple', 'cherry', 'date']

['apple', 'cherry', 'date']

In [152]:
# Basic List Comprehension

square = [(num, num**2) for num in range(10)]
print(square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [153]:
# Nested List comprehension
# Basic Syntax -> [expression for item in iterable for item2 in iterable2]

# Example: Create a list of tuples where each tuple contains the number and its square
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers]
result = [(num, square) for num, square in zip(numbers, squares)]
print(result)
# Output: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [155]:
# Nested List comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']
result = [(x,y) for x in lst1 for y in lst2]
print(result)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [156]:
## List comprehension with function calls

words = ['apple', 'banana', 'cherry', 'date', 'banana']
lenghts = [len(word) for word in words]
print(lenghts)

[5, 6, 6, 4, 6]

# Tuples

In [157]:
# Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [158]:
lst = list()
print(type(lst))

<class 'list'>

In [160]:
my_tuple = tuple((1,2,3,4,5))
print(type(my_tuple))

<class 'tuple'>

In [161]:
my_tuple = tuple([1,2,3,4,5])
print(type(my_tuple))

<class 'tuple'>